<div class="row">
    <div class="col-2"></div>
    <div class="col" style="color: bisque">
        <h1>КРЕСТИКИ-НОЛИКИ</h1>
    </div>
</div>
<hr />
<hr />
<hr />
<div id="crossZeroField" class="_crossZeroFieldBckgrnd row">
    <div id="crossZeroMainDiv" class="col _crossZeroDiv">
        <div id="crossZeroRowUp" class="row">
            <div id="crossZeroRow0Col0" class="_crossZeroContainerLeft"></div>
            <div id="crossZeroRow0Col1" class="_crossZeroContainer"></div>
            <div id="crossZeroRow0Col2" class="_crossZeroContainerRight"></div>
        </div>
        <div id="crossZeroRowCenter" class="row">
            <div id="crossZeroRow1Col0" class="_crossZeroContainerLeftCenter"></div>
            <div id="crossZeroRow1Col1" class="_crossZeroContainerCenter"></div>
            <div id="crossZeroRow1Col2" class="_crossZeroContainerRightCenter"></div>
        </div>
        <div id="crossZeroRowDown" class="row">
            <div id="crossZeroRow2Col0" class="_crossZeroContainerLeftCenter"></div>
            <div id="crossZeroRow2Col1" class="_crossZeroContainerCenter"></div>
            <div id="crossZeroRow2Col2" class="_crossZeroContainerRightCenter"></div>
        </div>
    </div>    
</div>
<br />
<br />
<br />
<div class="row _unhidedInput" style="color: antiquewhite; font-size: larger">
    @*<div class="col-3">
        <label>Прошло времени:</label>
        <br />
        <div id="_hour"></div><div id="_mins"></div><div id="_secs"></div>
    </div>
    <div class="col-2">
        <a class="nav-link btn btn-outline-info text-light" onclick="mix()">Перемешать</a>
    </div>
    <div class="col-3">
        <label>Количество движений:</label>
        <br />
        <div id="_counter"></div>
    </div>*@
</div>
